@charset "utf-8";
/* common.css */

/*再定義
////////////////////////////////////////////////////*/
body {
	color: #333;
	font-family: HiraKakuProN-W3 ,HiraKakuProN-W6;
	font-size: 14px;
}

img {
	vertical-align: top;
	border: none;
	/* スマホの場合使用するかも
	zoom: 0.5;*/
}

/*デフォルトリンクカラー
////////////////////////////////////////////////////*/

a:link {
	color: #996600;
}

a:visited {
	color: #996699;
}

a:hover {
	color: #FF3366;
}

/*レイアウト
////////////////////////////////////////////////////*/

/*
	┌───────────────────────────────────────────
	│	ロゴ
	└───────────────────────────────────────────
*/